<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GestionProyectosEntities" connectionString="metadata=res://*/GestionProyectosModel.csdl|res://*/GestionProyectosModel.ssdl|res://*/GestionProyectosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=209.45.50.65;initial catalog=COBRA_GESPROYECTO;persist security info=True;user id=DSIGE_PI;password=PI,123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>